[project]
name = "detypify"
version = "0.2.0"
authors = [{ name = "QuarticCat", email = "QuarticCat@pm.me" }]
dependencies = [
    # common
    "orjson>=3.10.0",
    # bot
    "requests>=2.31.0",
    "PyGithub>=2.3.0",
    # migrate
    "beautifulsoup4>=4.12.3",
    "pillow>=10.2.0",
    "fonttools[woff]>=4.50.0",
    # train
    "torch>=2.2.1",
    "torchvision>=0.17.1",
    "torchinfo>=1.8.0",
    "onnx>=1.16.0",
]

[project.scripts]
bot = "bot:main"
migrate = "migrate:main"
migrate-font = "migrate.font:main"
train = "train:main"

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.rye]
managed = true
dev-dependencies = []

[tool.hatch.metadata]
allow-direct-references = true

[tool.hatch.build.targets.wheel]
packages = ["bot", "migrate", "train"]
