[project]
name = "detypify"
version = "0.1.0"
authors = [{ name = "QuarticCat", email = "QuarticCat@pm.me" }]
dependencies = [
    "psycopg>=3.1.18",
    "pillow>=10.2.0",
    "torch>=2.2.1",
    "torchvision>=0.17.1",
    "torchinfo>=1.8.0",
]
requires-python = ">= 3.8"

[project.scripts]
migrate = "migrate:main"
train = "train:main"

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.rye]
managed = true
dev-dependencies = []

[tool.hatch.metadata]
allow-direct-references = true

[tool.hatch.build.targets.wheel]
packages = ["migrate", "train"]
