[project]
name = "detypify"
version = "0.2.4"
requires-python = ">=3.12, <3.13"
authors = [{ name = "QuarticCat", email = "QuarticCat@pm.me" }]
dependencies = [
    # common
    "orjson>=3.11.5",
    # migrate
    "unicodeit>=0.7.5",
    "beautifulsoup4>=4.14.3",
    "pillow>=12.0.0",
    "fonttools[woff]>=4.61.0",
    # train
    "torch>=2.9.1",
    "torchvision>=0.24.1",
    "torchinfo>=1.8.0",
    "onnx>=1.20.0",
    "onnxscript>=0.5.7",
]

[project.scripts]
bot = "bot:main"
migrate = "migrate:main"
migrate-font = "migrate.font:main"
train = "train:main"

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.hatch.metadata]
allow-direct-references = true

[tool.hatch.build.targets.wheel]
packages = ["bot", "migrate", "train"]
