[project]
name = "detypify-model"
version = "0.2.4"
requires-python = ">=3.13"
authors = [
  { name = "QuarticCat", email = "QuarticCat@pm.me" },
  { name = "Cloud0310", email = "gh@touchingfish.day" }
]
dependencies = [
  "beautifulsoup4>=4.14.3",
  "fonttools[woff]>=4.61.0",
  "lightning>=2.6.0",
  "lxml>=6.0.2",
  "msgspec>=0.20.0",
  "onnx>=1.20.0",
  "onnxscript>=0.5.7",
  "pillow>=12.0.0",
  "rocksdict>=0.3.29",
  "scikit-learn>=1.8.0",
  "timm>=1.0.22",
  "torch",
  "torchvision",
  "typed-argument-parser>=1.11.0",
]

[dependency-groups]
dev = [
  "ipython>=9.9.0",
  "lxml-stubs>=0.5.1",
  # tensorboard logging faciliity
  "pyrefly",
  "tensorboard>=2.20.0",
  "tensorboardx>=2.6.4",
  "torch-tb-profiler>=0.4.3",
  "zuban",
]

# linter and formatter
[tool.ruff]
line-length = 88

[tool.ruff.lint]
extend-select = ["I"]

[tool.uv.sources]
torch = [
  { index = "pytorch-cu130" },
]
torchvision = [
  { index = "pytorch-cu130" },
]

[[tool.uv.index]]
name = "pytorch-cu130"
url = "https://download.pytorch.org/whl/cu130"
explicit = true

# zuban sys.path finding, for python lsp
[tool.zuban]
mypy_path = ["python"]
