@import "tailwindcss";

@plugin "flowbite/plugin";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-primary-50: #fff5f2;
    --color-primary-100: #fff1ee;
    --color-primary-200: #ffe4de;
    --color-primary-300: #ffd5cc;
    --color-primary-400: #ffbcad;
    --color-primary-500: #fe795d;
    --color-primary-600: #ef562f;
    --color-primary-700: #eb4f27;
    --color-primary-800: #cc4522;
    --color-primary-900: #a5371b;

    --color-secondary-50: #f0f9ff;
    --color-secondary-100: #e0f2fe;
    --color-secondary-200: #bae6fd;
    --color-secondary-300: #7dd3fc;
    --color-secondary-400: #38bdf8;
    --color-secondary-500: #0ea5e9;
    --color-secondary-600: #0284c7;
    --color-secondary-700: #0369a1;
    --color-secondary-800: #075985;
    --color-secondary-900: #0c4a6e;
}

@source "../node_modules/flowbite-svelte/dist";
@source "../node_modules/flowbite-svelte-icons/dist";

@layer base {
    @font-face {
        font-family: NewCMMath-Detypify;
        font-weight: 400;
        font-display: swap;
        src:
            local(NewComputerModernMath-Regular),
            local(NewComputerModernMath),
            url(/NewCMMath-Detypify.woff2) format("woff2");
    }

    html {
        scrollbar-width: none;
    }
}

@layer components {
    .ui-hover-btn {
        @apply text-gray-600 hover:text-black dark:text-gray-400 dark:hover:text-white;
    }

    .ui-close-btn {
        @apply absolute top-1 right-1 p-2;
    }
}
