name: Frontend

on:
  push:
    branches: [main, dev]
  pull_request:
    branches: [main, dev]
    types: [opened, synchronize]
  workflow_dispatch:

jobs:
  checks:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: "latest"

      - name: Prepare train folder
        run: |
          mkdir -p train
          echo '{}' > train/infer.json
          echo '[]' > train/contrib.json
          echo '??' > train/model.onnx
        working-directory: frontend/service

      - name: Install dependencies
        run: bun install --frozen-lockfile

      - name: Prettier check
        run: bunx prettier --check .

      - name: Type check
        run: bun run check
        working-directory: frontend/ui
