@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: NewCMMath-Detypify;
        font-weight: 400;
        font-display: swap;
        src:
            local(NewComputerModernMath-Regular),
            local(NewComputerModernMath),
            url(/NewCMMath-Detypify.woff2) format("woff2");
    }
}
